@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.cointainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 25px;
    margin-left: 30px;
}

.video-cointainer{
    width: 300px;
    margin-top: 30px;

}

.header{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    z-index: 1000;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0px;
    right: 0px;
}

.left-slide{
    display: flex;
    text-align: center;
}
.middle-slide{
    display: flex;
    align-items: center;
}
.notifaction{
    margin-bottom: 14px;
}
.user-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.search-input{
    width:800px ;
    height: 38px;
    border: 1px solid gray;
    border-top-left-radius:25px ;
    border-bottom-left-radius:25px ;
    text-transform: capitalize;
    color: black;
    margin: none;
}
.search{
    border-top-right-radius:25px ;
    border-bottom-right-radius:25px ;
    border: 1px solid gray;
    height: 36px;
    width: 50px;
    
}
.youtube{
    width: 50px;
    height: 20px;
}
.header-2{
    position: fixed;
    margin-bottom: 50px;
}
.video-image-cointainer{
    position: relative;
}
.video-image{
    border-radius: 20px;
    border: none;
    width: 100%;
    object-fit: cover;

}
.timer{
    position: absolute;
    top: 155px;
    right:10px ;
    color: white;
    background-color: black;
    
}
.video-details-cointainer{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.author-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;

}
.video-details{
}
.author-name{
    text-transform: capitalize;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    margin: 0px;
}
.video-title{
    color: gray;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    margin: 10px 0px ;
}
.checkmark{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: gray;
    font-size: 12px;
    width: 15px;
    height: 15px;
    border-radius: 20px;
    border: 1px solid gray;
}
.video-status{  
    color: gray;  
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    margin: 0px;
}